<h1>Upcoming Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <div class="event">
      <div class="event-group-row">
        <h2><%= link_to event.name, event %></h2>
        <p><%= link_to event.group.name, "/groups/#{event.group.id}" %></p>
      </div>
      <div class="event-titles">
        <div class="event-details">
          <h3> Start </h3>
        </div>
        <div class="event-details course-col">
          <h3> Course </h3>
        </div>
        <div class="event-details">
          <h3> Bets </h3>
        </div>
      </div>
      <div class="event-titles2">
        <div class="event-details">
          <p id="time"> <%= event.time.strftime("%m/%d/%y %I:%M %p") unless event.time.nil?%> </p>
        </div>
        <div class="event-details course-col">
          <% if event.course != nil %>
            <p> <%= link_to event.course.name, "/courses/#{event.course.id}"%></p>
          <% else %>
            <p>No Course</p>
          <% end %>
        </div>
        <div class="event-details">
          <p> <%= event.bets.count %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
