<h2>New Bets for <%= link_to @event.name, @event %></h2>

<%= form_for [@event, @bet] do |f| %>

  <%= f.hidden_field :course_id, :value => @event.course.id %>

  <%= f.label :hole %>
  <%= f.select :hole_id, @hole %>
  <br/><br/>
  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <%= f.submit %>
<% end %>
