<!DOCTYPE html>
<html>
  <head>
    <title>Golf Master</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Martel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    </head>
  <body>

<h1>HIIIIIIII</h1>

  <% flash.each do |type, message| %>
  <p class="<%= type %>"><%= message %></p>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>

  <footer>
    <div id= "links">
      <img src="https://github.com/bcravens/portfolio/blob/master/images/twitter.png?raw=true"/>
      <img src="https://github.com/bcravens/portfolio/blob/master/images/fb.png?raw=true"/>
      <img src="https://github.com/bcravens/portfolio/blob/master/images/git.png?raw=true"/>
      <img src="https://github.com/bcravens/portfolio/blob/master/images/google.png?raw=true"/>
      <img src="https://github.com/bcravens/portfolio/blob/master/images/insta.png?raw=true"/>
    </div>
  </footer>

  </body>
</html>
