<h2>Edit Group</h2>

<%= form_for @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :num_players %>
  <%= f.text_field :num_players %>

  <%= f.submit %>
<% end %>

<%= link_to "Delete", @group, method: :delete, class: "delete" %>
