<h2>Group For: <%= @group.name %></h2>
<h3><%= link_to "All Groups", groups_path %> | <%= link_to "Join this group", new_group_membership_path(@group) if @current_user %> | <%= link_to("Edit Group", edit_group_path(@group)) if @current_user %></h3>


<h1>Group Information</h1>
  <div id="group">
    <div class="group_info">
      <h3>Members</h3>
      <% @group.memberships.each do |member| %>
        <p><%= member.user.name %></p>
      <% end %>
    </div>
    <% if @group.bets.first %>
      <div class="group_info">
        <h3>Upcoming Bets at <%= @group.holes.first.course.name %> Golf Course:</h3>
        <% @group.bets.each do |bet| %>
        <p>Hole: <%= bet.hole.hole_num %></p>
        <p>Amount: $<%= bet.amount %></p>
        <% end %>
      </div>
    <% else %>
      <div class="group_info">
        <h3>No Upcoming Bets</h3>
      </div>
    <% end %>
  </div>
